<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>Welcome to the text analyzer page<br>Enter your text with punctuation below</h1>
<form action="/analyze" method="get">
    <!--<input type="text" name="text"/>-->
    <textarea name='name' style='margin: 0px; width: 316px; height: 53px;'></textarea><br>
    <input type="checkbox"name="removepunc"/>  Remove Punctuation <br>
    <input type="checkbox"name="capitalize"/>  UPPERCASE <br>
    <input type="checkbox"name="newlineremover"/>  Newline Remover <br>
    <input type="checkbox"name="extraspaceremover"/> Extra Space Remover <br>
    <input type="checkbox"name="charcounter"/> Character Counter <br>
    <button type="submit">submit</button>

</form>


</body>
</html>
